/* FUNDO */
body{
background:#0f172a;
font-family:Arial;
color:white;
margin:0;
padding:0;
overflow-x:hidden;
}

/* BOTÃO MENU */
#menuBtn{
position:fixed;
top:15px;
left:15px;
width:60px;
height:60px;
background:#2563eb;
color:white;
border:none;
border-radius:15px;
font-size:32px;
font-weight:bold;
z-index:999999;
display:flex;
align-items:center;
justify-content:center;
box-shadow:0 0 15px rgba(0,0,0,0.5);
cursor:pointer;
transition:0.3s;
}

#menuBtn:hover{
transform:scale(1.05);
}

/* MENU LATERAL */
.sidebar{
position:fixed;
top:0;
left:0;
width:270px;
height:100%;
background:#111827;
padding:20px;
overflow-y:auto;
z-index:99999;
box-shadow:5px 0 15px rgba(0,0,0,0.5);
}

/* TITULO MENU */
.sidebar h2{
margin-top:70px;
margin-bottom:20px;
font-size:24px;
}

/* BOTÕES MENU */
.sidebar button{
width:100%;
padding:14px;
margin-top:12px;
background:#1e293b;
color:white;
border:none;
border-radius:12px;
text-align:left;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

.sidebar button:hover{
background:#2563eb;
}

/* ESCONDER */
.hidden{
display:none;
}
