body{
    background:#0f172a;
    font-family:Arial,sans-serif;
    color:white;
    margin:0;
    padding:0;
    overflow-x:hidden;
}

#menuBtn{
    position:fixed;
    top:15px;
    left:15px;
    width:60px;
    height:60px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:15px;
    font-size:32px;
    cursor:pointer;
    z-index:9999;
}

.sidebar{
    position:fixed;
    top:0;
    left:0;
    width:260px;
    height:100vh;
    background:#111827;
    padding:20px;
    box-sizing:border-box;
    overflow-y:auto;
    z-index:1000;
}

.hidden{
    display:none !important;
}

.sidebar button{
    width:100%;
    padding:14px;
    margin-top:12px;
    background:#1e293b;
    color:white;
    border:none;
    border-radius:12px;
    cursor:pointer;
}

.container{
    padding:90px 15px 20px;
    position:relative;
    z-index:1;
}

#editor{
    display:block;
    position:relative;
    z-index:1;
}

input,
textarea{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:10px;
    box-sizing:border-box;
}

button:not(#menuBtn){
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

.box{
    background:#1e293b;
    padding:15px;
    margin-top:15px;
    border-radius:12px;
}

.chat{
    height:300px;
    overflow-y:auto;
    background:#020617;
    padding:10px;
    border-radius:10px;
}

textarea{
    height:180px;
    background:black;
    color:white;
    resize:vertical;
}

#console{
    background:black;
    color:#22c55e;
    padding:10px;
    height:120px;
    overflow-y:auto;
    border-radius:10px;
}

#terminalBox{
    background:black;
    color:#22c55e;
    padding:10px;
    height:120px;
    overflow-y:auto;
    border-radius:10px;
}

.row{
    display:flex;
    gap:5px;
}

.send{
    width:70px;
    background:#2563eb;
    color:white;
}

.run{
    width:100%;
    background:#22c55e;
    color:white;
}

.msg-user{
    background:#2563eb;
    padding:10px;
    margin:10px;
    border-radius:10px;
    text-align:right;
}

.msg-bot{
    background:#1e293b;
    padding:10px;
    margin:10px;
    border-radius:10px;
    color:#22c55e;
}
