<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<title>App</title>
<style>
.hidden { display:none; }
</style>
</head>
<body>

<!-- HOME -->
<div id="home">
  <h1>HOME</h1>
  <button onclick="mostrar('login')">Entrar</button>
  <button onclick="mostrar('register')">Criar Conta</button>
</div>

<!-- LOGIN -->
<div id="login" class="hidden">
  <h2>Login</h2>
  <input id="user" placeholder="Utilizador">
  <input id="pass" type="password" placeholder="Senha">

  <button onclick="login()">Entrar</button>
  <button onclick="mostrar('register')">Criar Conta</button>
</div>

<!-- REGISTER -->
<div id="register" class="hidden">
  <h2>Criar Conta</h2>
  <input id="newUser" placeholder="Utilizador">
  <input id="newPass" type="password" placeholder="Senha">

  <button onclick="criarConta()">Criar</button>
  <button onclick="mostrar('login')">Voltar</button>
</div>

<!-- MENU -->
<div id="menu" class="hidden">
  <h2>Painel</h2>
  <p id="welcome"></p>

  <button onclick="logout()">Sair</button>
</div>

<script src="/static/script.js"></script>
</body>
</html>
